// Navigation code here

nav {
    padding: 1rem 0rem 0rem 0rem;
    .flexDisplay(center);
    flex-wrap: wrap;
    background: rgba(246, 246, 246, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    h1 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
    div {
        padding: 20px 0px;
        .flexDisplay(space-around);
        a {
            padding: 0px 15px;
            font-size: 1.2rem;
            text-decoration: none;
            color: black;
        }
    }
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}